@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
    --bgColor: #001322;
    --secondary: #0052C9;
    --primary: #00A4EB;
    --highlight: #CCEAF2;
}

:root {
    --color1: #001322;
    --color2: #0052C9;
    --color3: #00A4EB;
    --color4: #CCEAF2;
    --color5: #f9ffe7;
}
/*ScrollBar*/
::-webkit-scrollbar {
    width: 0px;
}


* {
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}

body {
    line-height: 1.4;
    color: var(--dark);
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* Preloader Start */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    display: flex;
    background-color: var(--color1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-logo {
    height: 100px;
    width: 100px;
    margin-bottom: 100px;
}

.boxes {
    --size: 32px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.boxes .box {
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
    transform: translate(100%, 0);
    -webkit-animation: box1 var(--duration) linear infinite;
    animation: box1 var(--duration) linear infinite;
}

.boxes .box:nth-child(2) {
    transform: translate(0, 100%);
    -webkit-animation: box2 var(--duration) linear infinite;
    animation: box2 var(--duration) linear infinite;
}

.boxes .box:nth-child(3) {
    transform: translate(100%, 100%);
    -webkit-animation: box3 var(--duration) linear infinite;
    animation: box3 var(--duration) linear infinite;
}

.boxes .box:nth-child(4) {
    transform: translate(200%, 0);
    -webkit-animation: box4 var(--duration) linear infinite;
    animation: box4 var(--duration) linear infinite;
}

.boxes .box>div {
    --background: #5C8DF6;
    --top: auto;
    --right: auto;
    --bottom: auto;
    --left: auto;
    --translateZ: calc(var(--size) / 2);
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.boxes .box>div:nth-child(1) {
    --top: 0;
    --left: 0;
}

.boxes .box>div:nth-child(2) {
    --background: #145af2;
    --right: 0;
    --rotateY: 90deg;
}

.boxes .box>div:nth-child(3) {
    --background: #447cf5;
    --rotateX: -90deg;
}

.boxes .box>div:nth-child(4) {
    --background: #00000096;
    --top: 0;
    --left: 0;
    --translateZ: calc(var(--size) * 2 * -1);
}

@-webkit-keyframes box1 {

    0%,
    50% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(200%, 0);
    }
}

@keyframes box1 {

    0%,
    50% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(200%, 0);
    }
}

@-webkit-keyframes box2 {
    0% {
        transform: translate(0, 100%);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100%, 0);
    }
}

@keyframes box2 {
    0% {
        transform: translate(0, 100%);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100%, 0);
    }
}

@-webkit-keyframes box3 {

    0%,
    50% {
        transform: translate(100%, 100%);
    }

    100% {
        transform: translate(0, 100%);
    }
}

@keyframes box3 {

    0%,
    50% {
        transform: translate(100%, 100%);
    }

    100% {
        transform: translate(0, 100%);
    }
}

@-webkit-keyframes box4 {
    0% {
        transform: translate(200%, 0);
    }

    50% {
        transform: translate(200%, 100%);
    }

    100% {
        transform: translate(100%, 100%);
    }
}

@keyframes box4 {
    0% {
        transform: translate(200%, 0);
    }

    50% {
        transform: translate(200%, 100%);
    }

    100% {
        transform: translate(100%, 100%);
    }
}

html {
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

/* Preloader End */

/* header */
header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.785), rgba(0, 0, 0, 0.765)), url("../Assets/blogPage/banner.jpg") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title {
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}

.banner-title span {
    font-family: var(--Playfair);
    color: var(--highlight);
}

.banner p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form {
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.search-input {
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}

.search-input::placeholder {
    text-transform: capitalize;
}

.search-btn {
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

/* Nav Bar */
.navbar {
    z-index: 100;
    border: 2px solid var(--color4);
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    background-color: #001322db;
    width: 100px;
    right: -103px;
    top: 35vh;
    height: fit-content;
    padding: 20px 0;
    transition: right 0.4s ease-in-out;
}

.toggle {
    position: absolute;
    top: 30px;
    right: 98px;
    padding: 10px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid var(--color4);
    border-right: 3px solid #001322db;
    background-color: #001322db;
}

.nav-item {
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    color: var(--color4);
    display: block;
    transition: 0.3s;
}

.nav-item:hover {
    color: var(--color3);
}

.navbar:hover {
    right: 0px;
}


/* Blog section */
#Blogs {
    width: 100%;
    height: 300vh;
}

.blog1 {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.659), rgba(0, 0, 0, 0.718)), url(../Assets/blogPage/blog-1.jpg) center/cover no-repeat fixed;
}

.blog2 {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.659), rgba(0, 0, 0, 0.718)), url(../Assets/blogPage/blog-2.jpg) center/cover no-repeat fixed;
}

.blog3 {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.659), rgba(0, 0, 0, 0.718)), url(../Assets/blogPage/blog-3.jpg) center/cover no-repeat fixed;
}



/* footer */
footer {
    background: var(--exDark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.social-links a {
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #fff;
    color: var(--exDark);
}

.footer span {
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}

/* Media Queries */
@media screen and (min-width: 540px) {
    .banner-title {
        font-size: 5rem;
    }

    .banner form {
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Responsive*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 360px) and (max-width: 580px) {

    /*hero-section*/
    .navbar {
        border-left: 0px;
        display: inline;
        width: 310px;
        right: -310px;
        top: 85vh;
        padding: 10px 0px 10px 5px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }

    .toggle {
        top: -2px;
        right: 310px;
        padding: 9px 10px 8px 15px;
        border-right: 0px;
    }

    .nav-item {
        padding: 5px 3px;
        font-size: 16px;
        display: inline;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 580px) and (max-width: 700px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}