@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --dark: #3c393d;
    --exDark: #2b2b2b;
    --bgColor: #001322;
    --secondary: #0052C9;
    --primary: #00A4EB;
    --highlight: #CCEAF2;
}


img {
    width: 100%;
    display: block;
}

/* header */
header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.785), rgba(0, 0, 0, 0.765)), url("../Assets/blogPage/banner.jpg") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title {
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}

.banner-title span {
    font-family: var(--Playfair);
    color: var(--highlight);
}

.banner p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form {
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.search-input {
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}

.search-input::placeholder {
    text-transform: capitalize;
}

.search-btn {
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}


/* Blog section */
#Blogs {
    height: 200svh;
    padding-top: 5vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.785), rgba(0, 0, 0, 0.765)), url("../Assets/blogPage/background.jpg") center/cover no-repeat fixed;
 
}

:root {
    --color1: #001322;
    --color2: #0052C9;
    --color3: #00A4EB;
    --color4: #ffffff;
}
::-webkit-scrollbar {
    width: 0px;
}

.RecentBlogs{
    position: relative;
    font-family: var(--Playfair);
    font-weight: 600;
    font-size: 4em;
    text-align: center;
    color: var(--color4);
}

img {
  width: 100%;
}
.expandImg{
  height:75vh;
  object-fit: cover;
}

.card {
  transform: scale(0.8);
  transition: transform 400ms ease-in-out;
  background-color:transparent;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.53);

}
.card.active {
  transform: scale(1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--color1);
}

.animated-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:var(--color1);
  display: none;
  z-index: 100;
}
.animated-card.active {
  display: block;
}

.card-close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 2rem;
  margin: 0;
  width: auto;
  height: auto;
  z-index: 1000;
}

.card-image {
  height: 60vh;
  transition: height 400ms ease;
}
.card-image.active {
  height: 30vh;
}
.card-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.onboarding {
  position: sticky;
  bottom: 1rem;
  left:80vw;
  width: 10vw;
  text-align: center;
  background: black;
  color: #fff;
  z-index: 2000;
  padding: 0.5rem;
  border-radius: 50px;
  opacity: 50%;
  margin-top: 2rem;
  font-size: 0.8rem;

}
.card-title{
    padding:2rem 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 4em;
}

.card-text,
.animated-card-text {
  padding: 3rem 10rem;
  color: var(--color4);
}

.card-text-lead{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

/* footer start */

/*footer*/
footer {
  height: fit-content;
  width: 100vw-200px;
  background-color: var(--color1);
  padding: 20px 100px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-logo1 {
  height: 120px;
  width: 120px;
  margin: 20px 95.5px 20px 0;
}

.footer-logo2 {
  height: 67.3px;
  width: 215.5px;
}

.footer-social {
  text-align: center;
  margin: 25px 10px 20px;
}

.footer-icon {
  color: white;
  font-size: 25px;
  padding: 2px 10px;
}

.footer-text {
  color: rgb(121, 121, 121);
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  padding: 3px;
}

.footerlink {
  margin: 20px 10px;
  color: var(--color4);
  text-decoration: none;
  font-size: 17px;
}

.footerlink:hover {
  color: var(--color3);
  transition: 0.4s ease;
}

.footer-icon:hover {
  color: var(--color3);
  transition: 0.4s ease;
}

/* footer ends */

@-webkit-keyframes textFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* end og blog section */

/* Media Queries */
@media screen and (min-width: 540px) {
    .banner-title {
        font-size: 5rem;
    }

    .banner form {
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Responsive*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 360px) and (max-width: 700px) {

    /*hero-section*/
    .navbar {
        border-left: 0px;
        display: inline;
        width: 310px;
        right: -310px;
        top: 85vh;
        padding: 10px 0px 10px 5px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }

    .toggle {
        top: -2px;
        right: 310px;
        padding: 9px 10px 8px 15px;
        border-right: 0px;
    }

    .nav-item {
        padding: 5px 3px;
        font-size: 16px;
        display: inline;
    }

    .blog1 {
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.845), rgba(0, 0, 0, 0.865)), url(../Assets/blogPage/blog-1.jpg) center/cover no-repeat fixed;
    }
    
    .blogContent{
        padding:5vh 5vw;
        margin-bottom: 10vh;
    }
    .blogHeading{
        color: var(--color5);
        font-size: 2em;
        text-align: left;
        margin: 1em 0 1em 0;
    }
    .blogColumn1{
        color:white;  
        font-family:monospace; 
        text-align:left;
        width: 70vw;
        padding-left: 2vw;
    }
    .blogColumn2{
        color:white;  
        font-family:monospace; 
        text-align:left;
        width: 70vw;
        padding-left: 2vw;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 580px) and (max-width: 700px) {} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
