:root {
  --dark: #3c393d;
  --exDark: #2b2b2b;
  --bgColor: #001322;
  --secondary: #0052c9;
  --primary: #00a4eb;
  --highlight: #cceaf2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  max-height: 90vh;
  padding: 40px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.785), rgba(0, 0, 0, 0.765)),
    url("../Assets/eventsPage/banner.jpg") center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
}

.banner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.banner-title {
  font-size: 5rem;
  font-family: sans-serif;
  line-height: 1.2;
  margin: 10px 0;
}

.banner p {
  padding: 1rem 0 2rem 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 300;
  word-spacing: 2px;
}

.logo {
  width: 15rem;
}

.event {
  padding: 20px;
  border: 1px solid black;
  height: fit-content;
}

.event1 {
  background: linear-gradient(rgba(0, 0, 0, 0.785), rgba(0, 0, 0, 0.765)),
    url("../Assets/eventsPage/cube.jpg") center/cover no-repeat fixed;
}

.event2 {
  background: linear-gradient(rgba(0, 0, 0, 0.785), rgba(0, 0, 0, 0.765)),
    url("../Assets/eventsPage/ml-background.jpg") center/cover no-repeat fixed;
}

.event-title {
  width: fit-content;
  margin: 5px auto;

  padding: 10px;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.event-title span {
  font-size: 2rem;
  border-bottom: 10px solid rgb(255, 136, 0);
}

.event-details {
  display: flex;

  justify-content: space-around;

  max-width: 1100px;
  padding: 20px 0;

  margin: 50px auto 20px auto;

  color: white;

  line-height: 1.5;
}

.event-image {
  max-width: 400px;
  max-height: 400px;
  border-radius: 20px;
  margin-left: 50px;
}

.event-description {
  font-size: 1.2rem;
  max-width: 45%;

  font-weight: 600;
  margin: auto;
}

.event-description button {
  border: none;
  color: white;
  background-color: rgb(29, 144, 252);
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 10px auto 0 0;
}

.event-description button:hover {
  background-color: white;
  color: rgb(29, 144, 252);
  transition: 1s;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(29, 144, 252);
}

.event-gallery {
  height: 600px;
  margin: 20px;
}

.event-gallery h2 {
  color: white;
  text-align: center;
  margin: 50px auto;
  width: fit-content;
  border-bottom: 5px solid rgb(255, 136, 0);
}

.img1 {
  background: url("../Assets/eventsPage/gallery1.jpg");
}
.img2 {
  background: url("../Assets/eventsPage/gallery2.jpg");
}
.img3 {
  background: url("../Assets/eventsPage/gallery3.jpg");
}
.img4 {
  background: url("../Assets/eventsPage/gallery4.jpg");
}
.img5 {
  background: url("../Assets/eventsPage/gallery5.jpg");
}

.img {
  width: 500px;
  height: 400px;

  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.75;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  border-radius: 2px;

  transition: transform 1s, opacity 1s;
}

.act {
  opacity: 1;
  z-index: 1000;
}

.prev,
.next {
  cursor: pointer;
}

.prev {
  transform: translateX(-275px) scale(0.85);
}

.next {
  transform: translateX(275px) scale(0.85);
}

.hide {
  transform: translateX(-420px) scale(0.85);
}

.new-next {
  transform: translateX(420px) scale(0.85);
}

.hide,
.new-next {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

@media screen and (max-width: 990px) and (min-width: 700px) {
  .event-details {
    max-width: 680px;
  }

  .event-description {
    font-size: 0.9rem;
  }

  .event-image {
    width: 300px;
    height: 300px;
    margin-left: 0px;
  }
  .prev {
    transform: translateX(-130px) scale(0.85);
  }

  .next {
    transform: translateX(130px) scale(0.85);
  }

  .hide {
    transform: translateX(-420px) scale(0.85);
  }

  .new-next {
    transform: translateX(420px) scale(0.85);
  }
}

@media screen and (max-width: 700px) {
  .logo {
    width: 10rem;
  }

  .banner-title {
    font-size: 2rem;
  }
  .event-details {
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .event-description {
    font-size: 1rem;
    max-width: 90%;
    text-align: center;
  }

  .event-image {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .event-description button {
    margin: 10px auto;
  }
  .img {
    width: 400px;
    height: 300px;
    margin-left: -200px;
  }

  .prev {
    transform: translateX(-80px) scale(0.85);
  }

  .next {
    transform: translateX(80px) scale(0.85);
  }

  .hide {
    transform: translateX(-90px) scale(0.85);
  }

  .new-next {
    transform: translateX(90px) scale(0.85);
  }

  .event {
    height: 1300px;
  }
}

@media screen and (max-width: 566px) and (min-width: 468px) {
  .img {
    margin-left: -195px;
  }
  .prev {
    transform: translateX(-60px) scale(0.85);
  }

  .next {
    transform: translateX(60px) scale(0.85);
  }

  .hide {
    transform: translateX(-70px) scale(0.85);
  }

  .new-next {
    transform: translateX(70px) scale(0.85);
  }
}

@media screen and (max-width: 468px) {
  .img {
    width: 300px;
    height: 200px;
    margin-left: -150px;
  }
  .prev {
    transform: translateX(-60px) scale(0.85);
  }

  .next {
    transform: translateX(60px) scale(0.85);
  }

  .hide {
    transform: translateX(-70px) scale(0.85);
  }

  .new-next {
    transform: translateX(70px) scale(0.85);
  }
}
