/*Responsive*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) and (max-width: 580px) {

    /*hero-section*/
    .navbar {
        border-left: 0px;
        display: inline;
        width: 310px;
        right: -310px;
        top: 80vh;
        padding: 10px 0px 10px 5px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }

    .toggle {
        top: -2px;
        right: 310px;
        padding: 10px 10px 10px 15px;
        border-right: 0px;
    }

    .nav-item {
        padding: 5px 3px;
        font-size: 16px;
        display: inline;
    }

    .item2 {
        font-size: 24px;
        margin: 20px 0px;
        text-align: center;
    }

    .item3 {
        font-size: 17px;
        margin: 10px 10px;
        text-align: center;
    }

    .hero-content-container {
        grid-template-columns: auto;
        padding: 10px 0px;
        width: 80%;
    }

    .item1 {
        height: 10.75em;
        width: 10.75em;
        margin: auto auto;
    }

    /*section css global*/

    .content_section {
        padding: 20px 20px;
        width: 100vw - 40px;
    }

    .section-heading {
        font-size: 35px;
        text-align: center;
        padding: 5px 20px;
        display: block;
        margin: 20px auto;
    }

    .content-container {
        margin: 10px 0 20px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    /*About-Section*/

    .about-content {
        font-size: 16px;
        display: inline-block;
        width: 100%;
        padding: 20px 20px;
        border-radius: 30px;
    }

    /*Event-Section*/

    .event-content {
        width: 100%;
        padding: 10px 10px;
        border-radius: 30px;
    }

    .text1 {
        font-size: 18px;
        margin-top: 20px;
    }

    .text2 {
        font-size: 18px;
    }

    .container {
        display: block;
        text-align: center;
        font-size: 16px;
        margin: 20px 0;
    }

    .event-button {
        border-radius: 15px;
        margin: 20px 0px;
        padding: 10px 20px;
        font-size: 15px;
    }

    .event-image {
        float: none;
        width: 190px;
        height: 190px;
        border-radius: 20px;
        margin: 0 auto;
    }

    /*Blogs-Section*/
    .flexchange {
        justify-content: space-around;
    }

    .card {
        height: 10em;
        margin-bottom: 20px;
    }

    .card h1 {
        font-size: 1em;
    }

    .card p {
        font-size: 0.6em;
    }

    .card .tags .tag {
        font-size: 0.5em;
    }

    .card .date {
        font-size: 0.65em;
    }

    .blogs-button {
        display: none;
    }

    /* Contact-Section*/
    .contact-content {
        width: 100%;
    }

    .location {
        font-size: 40px;
        margin: 20px 20px 20px 0px;
        float: left;
    }

    .address {
        display: inline;
        text-align: left;
        font-size: 14px;
    }

    .title1 {
        font-size: 20px;
        margin: 0;
    }

    .title2 {
        font-size: 17px;
    }


    .contact-icon {
        color: var(--color4);
        font-size: 25px;
        padding: 2px 15px 2px 0px;
        transition: 0.4s all;
    }

    .contact_form {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        width: fit-content;
        justify-content: center;
    }

    .form-content {
        margin: 2px 10px;
    }

    .contact_label {
        margin: 0px 2px 5px;
    }

    .contact_input {
        font-size: 16px;
    }

    /*footer*/
    footer {
        width: 100vw-50px;
        padding: 20px 25px 10px;
        flex-wrap: wrap;
    }

    .footer-logo2 {
        height: 70px;
        width: 70px;
        margin: 20px 0px;
        order: -1;
    }

    .footer-logo1 {
        height: 60px;
        width: 96px;
        order: -1;
    }

    .footer-icon {
        font-size: 18px;
    }

    .footerlink {
        font-size: 15px;
    }

    .footer-links {
        text-align: center;
    }

    .footer-text {
        font-size: 11px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 580px) and (max-width: 768px) {

    /*hero-section*/
    .item2 {
        font-size: 30px;
        margin: 20px 7px;
        text-align: center;
    }

    .item3 {
        margin: 10px 20px;
        text-align: center;
    }

    .hero-content-container {
        grid-template-columns: auto;
        padding: 10px 1px;
    }

    .item1 {
        height: 13.75em;
        width: 13.75em;
        margin: auto auto;
    }

    /*section css global*/

    .content_section {
        padding: 20px 50px;
        width: 100vw - 100px;
    }

    .section-heading {
        text-align: center;
        font-size: 35px;
        padding: 10px 10px 10px 10px;
        display: block;
        margin: 20px auto 20px;
    }

    .content-container {
        flex-wrap: wrap;
        margin: 10px 0 30px;
        align-content: center;
        justify-content: center;
    }

    /*About-Section*/

    .about-content {
        font-size: 18px;
        width: 100%;
        padding: 25px 25px;
    }

    /*Event-Section*/

    .event-content {
        width: 100%;
        margin: 1px 0px 1px;
        padding: 15px 15px;
    }

    .text1 {
        font-size: 19px;
        padding: 0 0 10px;
    }

    .text2 {
        font-size: 20px;
    }

    .event-button {
        margin: 30px 0px 0;
        font-size: 15px;
    }

    .container {
        display: block;
        text-align: left;
        font-size: 16px;
        margin: 20px 0;
    }

    .event-image {
        width: 200px;
        height: 200px;
    }

    /*Blogs-Section*/
    .flexchange {
        justify-content: space-around;
    }

    .card {
        height: 9em;
        width: 13em;
        font-size: 1.5em;
        margin: 0 0 20px;
    }

    .card h1 {
        font-size: 0.9em;
    }

    .card p {
        font-size: 0.58em;
    }

    .card .tags .tag {
        font-size: 0.5em;
    }

    .card .date {
        font-size: 0.65em;
    }

    .blogs-button {
        display: none;
    }

    /* Contact-Section*/

    .contact-content {
        width: 100%;
    }

    .address {
        font-size: 16px;
    }

    .title1 {
        font-size: 22px;
    }

    .title2 {
        font-size: 17px;
        margin: 20px 0;
    }

    .contact-icon {
        font-size: 25px;
    }

    .form-content {
        margin: 5px 5px;
    }

    .contact_input {
        width: 220px;
        font-size: 16px;
    }

    .alert_style {
        margin: 10px 0 0 10px;
    }

    /*footer*/
    footer {
        width: 100vw-50px;
        padding: 20px 25px 10px;
    }

    .footer-logo2 {
        height: 80px;
        width: 80px;
        margin: 20px 0 20px 54.68px;
    }

    .footer-logo1 {
        height: 56px;
        width: 120.68px;
    }

    .footer-social {
        margin: 20px 10px 20px;
    }

    .footer-icon {
        font-size: 20px;
    }

    .footer-text {
        font-size: 9px;
    }

    .footerlink {
        font-size: 13px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /*hero-section*/
    .item2 {
        font-size: 35px;
        margin: 10px 30px 10px 10px;
    }

    .item3 {
        font-size: 18px;
        margin: 10px 10px;
    }

    .hero-content-container {
        width: 80%;
    }

    .item1 {
        height: 15.75em;
        width: 15.75em;
    }

    /*section css global*/

    .content_section {
        padding: 20px 60px;
        width: 100vw - 120px;
    }

    .section-heading {
        font-size: 45px;
    }

    .content-container {
        margin: 10px 0 40px;
        flex-wrap: wrap;
    }

    /*About-Section*/

    .about-content {
        font-size: 18px;
    }

    /*Event-Section*/

    .event-content {
        width: 100%;
        margin: 5px 0px 5px;
        padding: 20px 20px;
    }

    .over {
        width: 100%;
        padding: 10px 10px;
    }

    .text1 {
        font-size: 20px;
    }

    .text2 {
        font-size: 22px;
    }

    .event-button {
        border-radius: 18px;
        margin: 30px 0px 0px;
        font-size: 17px;
    }

    .container {
        font-size: 17px;
        width: 100%;
    }

    .event-image {
        width: 220px;
        height: 220px;
        margin: 0 0px 0 30px;
    }

    /*Blogs-Section*/
    .flexchange {
        justify-content: space-around;
    }

    .card {
        width: 8.5em;
    }

    .card h1 {
        font-size: 1em;
        line-height: 1.2em;
    }

    .card p {
        font-size: 0.7em;
        margin-top: 0.1em;
        line-height: 1.5em;
    }

    .card .tags .tag {
        font-size: 0.6em;
    }

    .card .date {
        font-size: 0.6em;
    }

    .blogs-button {
        display: none;
    }

    /*contact-section*/
    .contact-content {
        width: 100%;
    }

    .location {
        margin: 20px 20px 20px 0px;
    }

    .address {
        font-size: 17px;
    }

    .title1 {
        font-size: 22px;
    }

    .title2 {
        font-size: 19px;
        margin: 20px 0;
    }

    .contact_label {
        margin: 0px 2px 8px;
    }

    .contact_input {
        width: 290px;
        font-size: 17px;
    }

    .alert_style {
        margin: 10px 0 0 16px;
    }

    /*footer*/
    footer {
        width: 100vw-100px;
        padding: 20px 50px 10px;
    }

    .footer-logo2 {
        height: 100px;
        width: 100px;
        margin: 20px 0 20px 65.8px;
    }

    .footer-logo1 {
        height: 100px;
        width: 165.8px;
    }

    .footer-icon {
        font-size: 22px;
    }

    .footer-text {
        font-size: 9px;
    }

    .footerlink {
        font-size: 15px;
    }
}