:root {
  --color1: #001322;
  --color2: #0052c9;
  --color3: #0ea5e9;
  --color4: #ffffff;
  --color5: #e6f1ff;
}

@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
/* City Animation */
.arth {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 50% 20%, #1a232e, #000);
}

.arthDiv {
  position: absolute;
  padding: 0px 10px 20px;
  border-radius: 40px;
  box-shadow: 0 0 50px 50px #000;
  background: #000;
}

.arthText {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  font-family: 'In';
}

.arthContainer {
  height: 100vh;
  font-family: 'Inter', sans-serif;
  display: grid;
  place-items: center;
  font-size: 10px;
}
.arthContainer .glitch {
  color: #fff;
  font-size: 10em;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
.arthContainer .glitch::before,
.arthContainer .glitch::after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}
.arthContainer .glitch::before {
  left: 8px;
  text-shadow: 2px 0 #00ffea;
  animation: glitch 3s infinite linear;
}
.arthContainer .glitch::after {
  left: 8px;
  text-shadow: -2px 0 #fe3a7f;
  animation: glitch 2s infinite linear;
}
@-moz-keyframes glitch {
  0% {
    clip: rect(68px, 9999px, 88px, 0);
  }
  5% {
    clip: rect(8px, 9999px, 50px, 0);
  }
  10% {
    clip: rect(76px, 9999px, 98px, 0);
  }
  15% {
    clip: rect(91px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(94px, 9999px, 98px, 0);
  }
  25% {
    clip: rect(76px, 9999px, 95px, 0);
  }
  30% {
    clip: rect(70px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(48px, 9999px, 90px, 0);
  }
  40% {
    clip: rect(70px, 9999px, 66px, 0);
  }
  45% {
    clip: rect(30px, 9999px, 13px, 0);
  }
  50% {
    clip: rect(38px, 9999px, 92px, 0);
  }
  55% {
    clip: rect(80px, 9999px, 94px, 0);
  }
  60% {
    clip: rect(56px, 9999px, 76px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 56px, 0);
  }
  70% {
    clip: rect(64px, 9999px, 94px, 0);
  }
  75% {
    clip: rect(64px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(51px, 9999px, 54px, 0);
  }
  85% {
    clip: rect(55px, 9999px, 46px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 96px, 0);
  }
  95% {
    clip: rect(36px, 9999px, 90px, 0);
  }
  100% {
    clip: rect(92px, 9999px, 23px, 0);
  }
}
@-webkit-keyframes glitch {
  0% {
    clip: rect(68px, 9999px, 88px, 0);
  }
  5% {
    clip: rect(8px, 9999px, 50px, 0);
  }
  10% {
    clip: rect(76px, 9999px, 98px, 0);
  }
  15% {
    clip: rect(91px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(94px, 9999px, 98px, 0);
  }
  25% {
    clip: rect(76px, 9999px, 95px, 0);
  }
  30% {
    clip: rect(70px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(48px, 9999px, 90px, 0);
  }
  40% {
    clip: rect(70px, 9999px, 66px, 0);
  }
  45% {
    clip: rect(30px, 9999px, 13px, 0);
  }
  50% {
    clip: rect(38px, 9999px, 92px, 0);
  }
  55% {
    clip: rect(80px, 9999px, 94px, 0);
  }
  60% {
    clip: rect(56px, 9999px, 76px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 56px, 0);
  }
  70% {
    clip: rect(64px, 9999px, 94px, 0);
  }
  75% {
    clip: rect(64px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(51px, 9999px, 54px, 0);
  }
  85% {
    clip: rect(55px, 9999px, 46px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 96px, 0);
  }
  95% {
    clip: rect(36px, 9999px, 90px, 0);
  }
  100% {
    clip: rect(92px, 9999px, 23px, 0);
  }
}
@-o-keyframes glitch {
  0% {
    clip: rect(68px, 9999px, 88px, 0);
  }
  5% {
    clip: rect(8px, 9999px, 50px, 0);
  }
  10% {
    clip: rect(76px, 9999px, 98px, 0);
  }
  15% {
    clip: rect(91px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(94px, 9999px, 98px, 0);
  }
  25% {
    clip: rect(76px, 9999px, 95px, 0);
  }
  30% {
    clip: rect(70px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(48px, 9999px, 90px, 0);
  }
  40% {
    clip: rect(70px, 9999px, 66px, 0);
  }
  45% {
    clip: rect(30px, 9999px, 13px, 0);
  }
  50% {
    clip: rect(38px, 9999px, 92px, 0);
  }
  55% {
    clip: rect(80px, 9999px, 94px, 0);
  }
  60% {
    clip: rect(56px, 9999px, 76px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 56px, 0);
  }
  70% {
    clip: rect(64px, 9999px, 94px, 0);
  }
  75% {
    clip: rect(64px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(51px, 9999px, 54px, 0);
  }
  85% {
    clip: rect(55px, 9999px, 46px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 96px, 0);
  }
  95% {
    clip: rect(36px, 9999px, 90px, 0);
  }
  100% {
    clip: rect(92px, 9999px, 23px, 0);
  }
}
@keyframes glitch {
  0% {
    clip: rect(68px, 9999px, 88px, 0);
  }
  5% {
    clip: rect(8px, 9999px, 50px, 0);
  }
  10% {
    clip: rect(76px, 9999px, 98px, 0);
  }
  15% {
    clip: rect(91px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(94px, 9999px, 98px, 0);
  }
  25% {
    clip: rect(76px, 9999px, 95px, 0);
  }
  30% {
    clip: rect(70px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(48px, 9999px, 90px, 0);
  }
  40% {
    clip: rect(70px, 9999px, 66px, 0);
  }
  45% {
    clip: rect(30px, 9999px, 13px, 0);
  }
  50% {
    clip: rect(38px, 9999px, 92px, 0);
  }
  55% {
    clip: rect(80px, 9999px, 94px, 0);
  }
  60% {
    clip: rect(56px, 9999px, 76px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 56px, 0);
  }
  70% {
    clip: rect(64px, 9999px, 94px, 0);
  }
  75% {
    clip: rect(64px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(51px, 9999px, 54px, 0);
  }
  85% {
    clip: rect(55px, 9999px, 46px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 96px, 0);
  }
  95% {
    clip: rect(36px, 9999px, 90px, 0);
  }
  100% {
    clip: rect(92px, 9999px, 23px, 0);
  }
}

.arthlogin-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin-top: 150px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.arthlogin-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.arthlogin-box .user-box {
  position: flex;
}

.arthlogin-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.arthlogin-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.arthlogin-box .user-box input:focus ~ label,
.arthlogin-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.arthlogin-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;

  letter-spacing: 4px;
}

.arthlogin-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.arthlogin-box a span {
  position: absolute;
  display: block;
}

.arthlogin-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.arthlogin-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
arthlogin-box .arthlogin-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.arthlogin-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* Preloader start */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  background-color: var(--color1);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-logo {
  height: 100px;
  width: 100px;
  margin-bottom: 100px;
}

.boxes {
  --size: 32px;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
  transform: translate(100%, 0);
  -webkit-animation: box1 var(--duration) linear infinite;
  animation: box1 var(--duration) linear infinite;
}

.boxes .box:nth-child(2) {
  transform: translate(0, 100%);
  -webkit-animation: box2 var(--duration) linear infinite;
  animation: box2 var(--duration) linear infinite;
}

.boxes .box:nth-child(3) {
  transform: translate(100%, 100%);
  -webkit-animation: box3 var(--duration) linear infinite;
  animation: box3 var(--duration) linear infinite;
}

.boxes .box:nth-child(4) {
  transform: translate(200%, 0);
  -webkit-animation: box4 var(--duration) linear infinite;
  animation: box4 var(--duration) linear infinite;
}

.boxes .box > div {
  --background: var(--color3);
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.boxes .box > div:nth-child(2) {
  --background: var(--color2);
  --right: 0;
  --rotateY: 90deg;
}

.boxes .box > div:nth-child(3) {
  --background: var(--color3);
  --rotateX: -90deg;
}

.boxes .box > div:nth-child(4) {
  --background: #00000096;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 2 * -1);
}

@-webkit-keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@-webkit-keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@-webkit-keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@-webkit-keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

*:before,
*:after {
  box-sizing: border-box;
}

/* Preloader end */

/*ScrollBar*/
::-webkit-scrollbar {
  width: 0px;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  user-select: none;
  box-sizing: border-box;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  background-color: var(--color1);
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/*navbar*/
.navbar {
  z-index: 500;
  border: 2px solid var(--color4);
  border-right: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  background-color: #001322db;
  width: 100px;
  right: -100px;
  top: 35vh;
  height: fit-content;
  padding: 20px 0;
  transition: right 0.4s ease-in-out;
}

.toggle {
  position: absolute;
  top: 30px;
  right: 100px;
  padding: 10px;
  color: var(--color4);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid var(--color4);
  border-right: 0px;
  background-color: #001322db;
}

.nav-item {
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  color: var(--color4);
  display: block;
  transition: 0.3s;
}

.nav-item:hover {
  color: var(--color3);
}

.navbar:hover {
  right: 0px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--color2);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color2);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.scrollup {
  visibility: hidden;
  transition: 0.2s all;
  display: flex;
  position: fixed;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 500;
  border-radius: 50%;
  border: 2px solid var(--color4);
  background-color: #00a4ebd6;
  right: 20px;
  bottom: 30px;
}

.scrollup a {
  color: var(--color1);
}

.scrollup:hover {
  background-color: var(--color2);
}

/*Index.html CSS Code*/

/*Hero Section*/

.hero-section {
  display: block;
  height: 100vh;
  width: 100vw;
}

#dynamicHero {
  position: static;
  display: block;
  width: 100vw;
  height: 100vh;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 19.75em;
  width: 19.75em;
}

.item2 {
  font-size: 45px;
  font-weight: 600;
  color: var(--color4);
  margin: 50px 50px 10px;
}

.item3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 5px 50px 15px;
  display: inline-block;
  color: var(--color4);
}

.hero-content-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  align-items: center;
}

/*section css global*/

.content_section {
  padding: 20px 100px;
  display: block;
  position: relative;
  height: fit-content;
  width: 100vw - 200px;
}

.section-heading {
  font-weight: 600;
  font-size: 48px;
  padding: 10px;
  display: inline-block;
  margin: 30px auto 20px;
  text-align: center;
}

.light {
  background-color: var(--color4);
  color: var(--color1);
}

.dark {
  color: var(--color4);
  background-color: var(--color1);
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 30px;
  padding: 10px;
}

/*About-Section*/

.about-content {
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 18px;
  display: inline-block;
  width: 850px;
  padding: 24px;
  color: rgb(27, 27, 58);
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 6px 6px 17px #dbdbdb, -6px -6px 17px #ffffff;
}

.cube-animation {
  width: 420px;
  height: 340px;
  border-radius: 15px;
}

/*Event-Section*/

.event-content {
  text-align: center;
  width: 750px;
  height: fit-content;
  margin: 10px 0px;
  padding: 28px;
  border-radius: 15px;
  background: #001322;
  box-shadow: 5px 5px 10px #00080e, -5px -5px 10px #001e36;
}

.over {
  width: 500px;
  border: 0;
}

.text1 {
  font-size: 24px;
  font-weight: 800;
  color: var(--color4);
  padding: 0 0 10px;
}

.text2 {
  font-size: 24px;
  font-weight: 500;
}

.event-button {
  font-family: 'Inter', sans-serif;
  border: 2px solid var(--color1);
  border-radius: 18px;
  background-color: var(--color3);
  margin: 32px 0px;
  padding: 16px 28px;
  color: var(--color1);
  font-size: 18px;
  font-weight: 500;
  transition: 0.4s all;
}

.event-button:hover {
  transition: all 0.4s;
  background-color: #38bdf9;
}

.container {
  display: block;
  text-align: left;
  font-size: 16px;
  margin: 20px 0;
  color: var(--color5);
  line-height: 1.65rem;
}

.event-image-1 {
  width: 250px;
  height: 250px;
  border-radius: 30px;
  border: 2px solid var(--color3);
  float: right;
  margin: 0 0px 0 40px;
  background: url('../Assets/kalari/post.jpeg') no-repeat center;
  background-size: contain;
  transition: 0.3s all;
}
.event-image {
  width: 250px;
  height: 250px;
  border-radius: 30px;
  border: 2px solid var(--color3);
  float: right;
  margin: 0 0px 0 40px;
  background: url('../Assets/eventsPage/arithemania.webp') no-repeat center;
  background-size: contain;
  transition: 0.3s all;
}

.event-image-1:hover {
  transition: 0.4s all;
  background-image: url('../Assets/homePage/know-more-overlay.webp');
}
.event-image:hover {
  transition: 0.4s all;
  background-image: url('../Assets/homePage/know-more-overlay.webp');
}

/*Blogs-Section*/

.card {
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  height: 16em;
  width: 13em;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 18px 18px 30px #bebebe, -18px -18px 30px #ffffff;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 40px;
  line-height: 1.2em;
}

.card p {
  font-size: 18px;
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: var(--color3);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, 0.5s;
}

.card:hover .tags .tag {
  background: var(--color4);
  color: var(--color1);
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}

.card:before,
.card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, 0.5s;
  transition-timing-function: ease-in-out;
}

.card:before {
  background: var(--color2);
  width: 250%;
  height: 250%;
}

.card:after {
  background: var(--color1);
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color4);
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 2em;
  margin-bottom: 1.2rem;
  color: var(--color1);
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

.blogs-button {
  color: var(--color3);
  font-size: 30px;
  transition: 0.4s all;
  text-decoration: none;
}

.blogs-button:hover {
  transition: 0.4s all;
  color: var(--color2);
}

/* Contact-Section*/
.contact-content {
  font-weight: 400;
  display: block;
  width: 600px;
  height: fit-content;
  padding: 24px;
  margin: 10px 0px;
  border-radius: 15px;
  background: #001322;
  box-shadow: 5px 5px 10px #00080e, -5px -5px 10px #001e36;
}

.location {
  font-size: 40px;
  margin: 20px 20px 20px 0px;
  float: left;
}

.address {
  display: inline;
  text-align: left;
  font-size: 18px;
  line-height: 1.5rem;
}

.address2 {
  font-size: 16px;
  color: var(--color5);
  line-height: 1.5rem;
}

.title1 {
  font-size: 24px;
  font-weight: 600;
  width: 200px;
  margin: 0 0 10px;
}

.title2 {
  font-size: 19px;
  margin: 30px 0;
  line-height: 1.65rem;
  color: var(--color5);
}

.contact-icon {
  color: var(--color4);
  font-size: 30px;
  padding: 2px 15px 2px 0px;
  transition: 0.4s all;
}

.contact-icon:hover {
  color: var(--color3);
  transition: 0.4s all;
}

.contact_form {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: fit-content;
  padding: 18px 16px;
  border-radius: 15px;
  background: #001322;
  box-shadow: 5px 5px 10px #00080e, -5px -5px 10px #001e36;
}

.form-content {
  margin: 5px 10px;
  padding: 5px 5px;
  display: block;
}

.contact_label {
  margin: 0px 2px 10px;
  display: block;
}

.contact_input {
  display: block;
  padding: 5px 5px;
  width: 288px;
  margin: 10px 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color1);
  border: 2px solid var(--color4);
  border-radius: 10px;
  font-size: 17px;
  color: var(--color5);
}

.alert_style {
  text-align: center;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 10px 18px;
  font-size: 12px;
  font-weight: 100;
}

.submit-button {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  width: 150px;
  height: 40px;
  margin: 15px 0px 0px;
  color: var(--color1);
  border-radius: 10px;
  background: var(--color3);
}

.submit-button:hover {
  background: #38bdf9;
}

/*footer*/

footer {
  width: 100%;
  height: fit-content;
  background-color: var(--color1);
  padding: 20px 100px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-logo1 {
  height: 100px;
  width: 215.5px;
}

.footer-logo2 {
  height: 120px;
  width: 120px;
  margin: 20px 0 20px 95.5px;
}

.footer-social {
  text-align: center;
  margin: 25px 10px 20px;
}

.footer-icon {
  color: var(--color4);
  font-size: 25px;
  padding: 2px 10px;
}

.footer-text {
  color: var(--color4);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 3px;
}

.footerlink {
  margin: 20px 10px;
  color: var(--color4);
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.footerlink:hover {
  color: var(--color3);
  transition: 0.4s ease;
}

.footer-icon:hover {
  color: var(--color3);
  transition: 0.4s ease;
}
