:root {
    --color1: #001322;
    --color2: #0052C9;
    --color3: #00A4EB;
    --color4: #CCEAF2;
    --color5: #f9ffe7;
}
* {
    margin: 0;
    padding: 0;
}



/*ScrollBar*/
::-webkit-scrollbar {
    width: 0px;
}



body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

.section-seperator {
    border-top: 1.5px dashed var(--color4);
    background-color: transparent;
}

/*Index.html CSS Code*/

/*Hero Section*/
header {
    z-index: 20;
    background-color: transparent;
    padding: 30px 0px;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    z-index: 100;
    border: 2px solid var(--color4);
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    background-color: #001322db;
    width: 120px;
    right: -123px;
    top: 35vh;
    height: 200px;
    padding: 20px 0;
    transition: right 0.4s ease-in-out;
}

.toggle {
    position: absolute;
    top: 30px;
    right: 120px;
    padding: 10px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid var(--color4);
    border-right: 2px solid #001322db;
    background-color: #001322db;
}

.box {
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    color: var(--color4);
    display: block;
    transition: 0.3s;
}

.box:hover {
    color: var(--color3);
}

.navbar:hover {
    right: 0px;
}

.hero-section {
    display: block;
    width: 100vw;
    height: 100vh;
}

#vantajs {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}

.item2 {
    transition: width 2s linear 1s;
    font-size: 40px;
    font-weight: 600;
    color: var(--color4);
    margin: 50px 50px 20px;
}

.item3 {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 50px;
    display: inline-block;
    color: var(--color4);
}

.hero-content-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 18.75em;
}